.messageBox-container {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 35px;
  text-align: center;
}

.messageBox-title {
  font-size: 24px;
  color: #43545f;
  padding-top: 35px;
}

.messageBox-subtitle {
  font-size: 18px;
  color: #43545f;
  padding-bottom: 35px;
}


.messageBox-subtitle ul {
  margin: auto;
  width: fit-content;
  text-align: left;
} 

.messageBox-information-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageBox-description {
  font-size: 13px;
  color: #43545f;
  width: 360px;
}
