/* General color */
$color-white: rgb(255, 255, 255);
$color-white1: rgb(221, 235, 255);
$color-black: #000000;

/*Brand color*/
$color-brand-blue: #6ccee6;

/*Red color*/
$color-red: #ef3e42;
$color-red1: rgb(172, 40, 40);
$color-lightred: #fffaf2;

/*Green color*/
$color-green: #3fce8e;
$color-lightgreen: #03ab00;

/*Orange color*/
$color-orange: #ff9933;

/*Yellow color*/
$color-yellow: #fcdd0f;

/*Blue color*/
$color-blue: rgb(0, 36, 105);
$color-blue1: #002469;
$color-blue2: #005ebd;
$color-blue3: #005bc0;
$color-darkblue: rgba(0, 36, 105, 1);
$color-lightskyblue: #e0f7fa;

/*Dark Grey color - Primary title color*/
$color-darkgrey: #333333;
$color-darkgrey2: #333333;

/*Mid Grey color - Secondary subtitle color*/
$color-grey: rgba(225, 225, 225, 0.5);
$color-grey1: rgb(192, 192, 192);
$color-grey2: #6b7c93;

/*light Grey color*/
$color-lightgrey: #e6eaf0;
$color-lightgrey1: #9b9b9b;
$color-lightgrey2: #e5e5e5;
$color-lightgrey3: #727272;
$color-lightgrey4: #fafafa;


/* General color */
$color-white: #ffffff;
$color-black: #000000;

/*Brand color*/
$color-brand-blue: #6ccee6;

/*Red color*/
$color-red: #ef3e42;
$color-lightred: #fffaf2;

/*Green color*/
$color-green: #3fce8e;

/*Orange color*/
$color-orange: #ff9933;

/*Blue color*/
$color-blue: #0067B1;
$color-blue-1: #00cc66;

/*Dark Grey color - Primary title color*/
$color-darkgrey: #333333;

/*Mid Grey color - Secondary subtitle color*/
$color-grey: #858585;
$color-grey1: #f6f9fc;
$color-grey2: #6b7c93;
$color-grey3: #d0d0d0;

/*light Grey color*/
$color-lightgrey: #e6eaf0;
$color-lightgrey2: #f7f7f7;
$color-lightgrey3: #727272;
$color-lightgrey4: #fafafa;

/* Page bg */
$color-page-bg: rgba(246,249,252, 1);

/* Form Input Label */
$color-form-label: rgba(107, 124, 147, 0.87);

/* Leads */
$color-header-nav-active: rgba(50, 50, 93, 0.82);
$color-header-nav: rgba(107, 124, 147, 0.82);
$color-bg-leads-stage: rgba(246,249,252, 1);

/* Head Office */
$color-contacts-item-address: rgba(50, 50, 93, 0.74);

/* FAQ */
$color-faq-question: rgba(50, 50, 93, 0.74);

/* Accordion Item */
$color-accordion-item: rgba(50, 50, 93, 0.74);


/*MVP2 color styling*/
$title-grey: #424b57;
$subtitle-grey: #646c77;
$greylight: #7f8fa4;
$green-icon: #5cc971;
$bg-grey: #f5f7f7;
$bg-lightgrey: #fafbfc;
$border-lightgrey: #e5e7e9;
$formborder-lightgrey: #bdc4c9;
$color-mediumgrey: #a8b0b8;
$darkBlueGrey: #32325d;
$formlabel: #0c0033;
$formsubtitle: #354052;
$nav-bg: #6bcde6;
$chart-txt-blue: #0068b3;
$notice-lightred: #feedec;
$color-cementgrey: #737a92;
$successgreen: #2ebd41;
