$font-LR: 'LatoRegular';
$font-LM: 'LatoMedium';
$font-LSB: 'LatoSemiBold';
$font-LB: 'LatoBold';

$font-OSR: 'OpenSansRegular';
$font-OSB: 'OpenSansBold';
$font-OSSB: 'OpenSansSemiBold';
$font-OSEB: 'OpenSansExtraBold';
$font-OSL: 'OpenSansLight';
$font-OSSBI: 'OpenSansSemiboldItalic';
$font-OSEBI: 'OpenSansExtraBoldItalic';


$font-RR: 'RobotoRegular';
$font-RM: 'RobotoMedium';
$font-RR: 'RobotoRegular';
$font-RM: 'RobotoMedium';

/* Font Size */
$font-size-xl   : 1.429rem; // 20px
$font-size-lg   : 1.286rem; // 18px
$font-size-sm   : 1.143rem; // 16px
$font-size-base : 1rem;     // 14px
$font-size-xs   : 0.857rem; // 12px
